In [2]:
import warnings
warnings.filterwarnings("ignore")

# loading packages
# basic + dates 
import numpy as np
import pandas as pd
from pandas import datetime


# data visualization
import matplotlib.pyplot as plt
import seaborn as sns # advanced vizs
%matplotlib inline

# statistics
from statsmodels.distributions.empirical_distribution import ECDF

#SKlearn Modelling and data transform

from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestRegressor


# time series analysis
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

# prophet by Facebook
# from fbprophet import Prophet

In [ ]:
https://www.kaggle.com/cast42/xgboost-in-python-with-rmspe-v2
https://www.kaggle.com/elenapetrova/time-series-analysis-and-forecasts-with-prophet

In [ ]:
train = pd.read_csv("/kaggle/input/rossmann-store-sales/train.csv", low_memory=False)
test = pd.read_csv("/kaggle/input/rossmann-store-sales/test.csv", low_memory=False)
store = pd.read_csv("/kaggle/input/rossmann-store-sales/store.csv", low_memory=False)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

### Join store data with Train and Test

In [ ]:
train = pd.merge(train, store, on='Store')
test = pd.merge(test, store, on='Store')

In [ ]:
print("Data types in Train Column\n")
print(train.dtypes)
print("\nInformation on Train Column\n")
print(train.info())
print("\nSum of Null values in Train Column\n")
print(train.isnull().sum())

Data types in Train Column

Store                          int64
DayOfWeek                      int64
Date                          object
Sales                          int64
Customers                      int64
Open                           int64
Promo                          int64
StateHoliday                  object
SchoolHoliday                  int64
StoreType                     object
Assortment                    object
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
dtype: object

Information on Train Column

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 18 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  object
 3   Sales                      1017209 non-null  int64
 4   Customers                  1017209 non-null  int64
 5   Open                       1017209 non-null  int64
 6   Promo                      1017209 non-null  int64
 7   StateHoliday               1017209 non-null  object
 8   SchoolHoliday              1017209 non-null  int64
 9   StoreType                  1017209 non-null  object
 10  Assortment                 1017209 non-null  object
 11  CompetitionDistance        1014567 non-null  float64
 12  CompetitionOpenSinceMonth  693861 non-null   float64
 13  CompetitionOpenSinceYear   693861 non-null   float64
 14  Promo2                     1017209 non-null  int64
 15  Promo2SinceWeek            509178 non-null   float64
 16  Promo2SinceYear            509178 non-null   float64
 17  PromoInterval              509178 non-null   object
dtypes: float64(5), int64(8), object(5)
memory usage: 147.5+ MB
None

Sum of Null values in Train Column

Store                             0
DayOfWeek                         0
Date                              0
Sales                             0
Customers                         0
Open                              0
Promo                             0
StateHoliday                      0
SchoolHoliday                     0
StoreType                         0
Assortment                        0
CompetitionDistance            2642
CompetitionOpenSinceMonth    323348
CompetitionOpenSinceYear     323348
Promo2                            0
Promo2SinceWeek              508031
Promo2SinceYear              508031
PromoInterval                508031
dtype: int64

In [ ]:
print("First five rows of our train data\n")
print(train.head())
print("\nStatistical description for train numerical data\n")
print(train.describe())

First five rows of our train data

   Store  DayOfWeek        Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5  2015-07-31   5263        555     1      1            0
1      1          4  2015-07-30   5020        546     1      1            0
2      1          3  2015-07-29   4782        523     1      1            0
3      1          2  2015-07-28   5011        560     1      1            0
4      1          1  2015-07-27   6102        612     1      1            0

   SchoolHoliday StoreType Assortment  CompetitionDistance  \
0              1         c          a               1270.0
1              1         c          a               1270.0
2              1         c          a               1270.0
3              1         c          a               1270.0
4              1         c          a               1270.0

   CompetitionOpenSinceMonth  CompetitionOpenSinceYear  Promo2  \
0                        9.0                    2008.0       0
1                        9.0                    2008.0       0
2                        9.0                    2008.0       0
3                        9.0                    2008.0       0
4                        9.0                    2008.0       0

   Promo2SinceWeek  Promo2SinceYear PromoInterval
0              NaN              NaN           NaN
1              NaN              NaN           NaN
2              NaN              NaN           NaN
3              NaN              NaN           NaN
4              NaN              NaN           NaN

Statistical description for train numerical data

              Store     DayOfWeek         Sales     Customers          Open  \
count  1.017209e+06  1.017209e+06  1.017209e+06  1.017209e+06  1.017209e+06
mean   5.584297e+02  3.998341e+00  5.773819e+03  6.331459e+02  8.301067e-01
std    3.219087e+02  1.997391e+00  3.849926e+03  4.644117e+02  3.755392e-01
min    1.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    2.800000e+02  2.000000e+00  3.727000e+03  4.050000e+02  1.000000e+00
50%    5.580000e+02  4.000000e+00  5.744000e+03  6.090000e+02  1.000000e+00
75%    8.380000e+02  6.000000e+00  7.856000e+03  8.370000e+02  1.000000e+00
max    1.115000e+03  7.000000e+00  4.155100e+04  7.388000e+03  1.000000e+00

              Promo  SchoolHoliday  CompetitionDistance  \
count  1.017209e+06   1.017209e+06         1.014567e+06
mean   3.815145e-01   1.786467e-01         5.430086e+03
std    4.857586e-01   3.830564e-01         7.715324e+03
min    0.000000e+00   0.000000e+00         2.000000e+01
25%    0.000000e+00   0.000000e+00         7.100000e+02
50%    0.000000e+00   0.000000e+00         2.330000e+03
75%    1.000000e+00   0.000000e+00         6.890000e+03
max    1.000000e+00   1.000000e+00         7.586000e+04

       CompetitionOpenSinceMonth  CompetitionOpenSinceYear        Promo2  \
count              693861.000000             693861.000000  1.017209e+06
mean                    7.222866               2008.690228  5.005638e-01
std                     3.211832                  5.992644  4.999999e-01
min                     1.000000               1900.000000  0.000000e+00
25%                     4.000000               2006.000000  0.000000e+00
50%                     8.000000               2010.000000  1.000000e+00
75%                    10.000000               2013.000000  1.000000e+00
max                    12.000000               2015.000000  1.000000e+00

       Promo2SinceWeek  Promo2SinceYear
count    509178.000000    509178.000000
mean         23.269093      2011.752774
std          14.095973         1.662870
min           1.000000      2009.000000
25%          13.000000      2011.000000
50%          22.000000      2012.000000
75%          37.000000      2013.000000
max          50.000000      2015.000000

In [ ]:
def create_feature(dataset):
    """
    The create feature function would help create features using the date
    column and also other features 
    """
    
    #i would map some categorical variable to numerical if
    #that variable present it is replaced
    mappings = {'0':0, 'a':1, 'b':2, 'c':3, 'd':4}
    dataset.StoreType.replace(mappings, inplace=True)
    dataset.Assortment.replace(mappings, inplace=True)
    dataset.StateHoliday.replace(mappings, inplace=True)

    #converting some categorical variables to object
    categ =['DayOfWeek','Open','Promo','StateHoliday','SchoolHoliday']
    for i in categ:
        dataset = dataset.astype({i:'object'})
    
    
    #convert date column to datetime
    dataset['Date']= pd.to_datetime(dataset.Date)

    #Feature creation
    dataset['Year'] = dataset.Date.dt.year
    dataset['Month'] = dataset.Date.dt.month
    dataset['Day'] = dataset.Date.dt.day
    dataset['DayOfWeek'] = dataset.Date.dt.dayofweek
    dataset['WeekOfYear'] = dataset.Date.dt.weekofyear
    dataset = dataset.set_index('Date')
    dataset = dataset.sort_index()
    return dataset

In [ ]:
train = create_feature(train)

In [ ]:
X = train.drop('')

In [ ]:
train.dtypes

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,...,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day,WeekOfYear
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,1115,1,0,0,0,0,1,1,4,3,...,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013,1,1,1
2013-01-01,746,1,0,0,0,0,1,1,4,3,...,2.0,2011.0,1,35.0,2011.0,"Mar,Jun,Sept,Dec",2013,1,1,1
2013-01-01,171,1,0,0,0,0,1,1,1,1,...,NaN,NaN,0,NaN,NaN,NaN,2013,1,1,1
2013-01-01,694,1,0,0,0,0,1,1,1,3,...,11.0,2012.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",2013,1,1,1
2013-01-01,396,1,0,0,0,0,1,1,1,3,...,NaN,NaN,0,NaN,NaN,NaN,2013,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-07-31,612,4,8161,493,1,1,0,0,4,3,...,11.0,2012.0,1,31.0,2009.0,"Jan,Apr,Jul,Oct",2015,7,31,31
2015-07-31,235,4,6756,548,1,1,0,1,1,1,...,3.0,2012.0,1,37.0,2009.0,"Jan,Apr,Jul,Oct",2015,7,31,31
2015-07-31,1078,4,9732,646,1,1,0,1,4,3,...,NaN,NaN,1,40.0,2011.0,"Jan,Apr,Jul,Oct",2015,7,31,31
2015-07-31,845,4,5151,378,1,1,0,1,4,1,...,11.0,2005.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,7,31,31
2015-07-31,1,4,5263,555,1,1,0,1,3,1,...,9.0,2008.0,0,NaN,NaN,NaN,2015,7,31,31

In [ ]:
def preprocess(dataset, label):
    
    """
    The preprocess function takes as primary argument the data 
    and peform the following stepwise transformations to it:
    
    1. impute missing values of numerical and categorical columns 
    using median and constant values respectively
    
    2. scales dataset using the RobustScaler (robust to outlier values present in this dataset)
    
    3. Encodes categorical values to numerical values
    """
    
    # split data to numerical
    numeric_features = dataset.select_dtypes(include=[
        'int64', 'float64']).columns
    
    for n in numeric_feature:
        dataset = dataset.astype({n:'float64'})
        
    
    
    #split data to categories
    categorical_features = dataset.select_dtypes(include=[
        'object']).columns
    
    

    
    # build pipeline to proprocess
    numeric_transformer = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='mean'))
        ('scaler', StandardScaler())])
    # for categorical variable create new category called missing
    categorical_transformer = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='constant',
                                  fill_value='missing')),
        ('onehot', OneHotEncoder(handle_unknown='ignore'))])
    
    #transform columns we do not need to use linear transformation for 
    #this since we are feeding this to random forest
    preprocessor = ColumnTransformer(
        transformers=[
            ('num', numeric_transformer, numeric_features),
            ('cat', categorical_transformer, categorical_features)])
    
    rf = Pipeline([
        ('preprocess', preprocessor),
        ('classifier', RandomForestRegressor(random_state=42))

SyntaxError: unexpected EOF while parsing (<ipython-input-12-afad1701a89b>, line 72)

In [ ]:
preprocessor= preprocess(train)

ColumnTransformer(transformers=[('num',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='median')),
                                                 ('scaler', StandardScaler())]),
                                 Index(['Store', 'Sales', 'Customers', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear'],
      dtype='object')),
                                ('cat',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(fill_value='missing',
                                                                strategy='constant')),
                                                 ('onehot',
                                                  OneHotEncoder(handle_unknown='ignore'))]),
                                 Index(['DayOfWeek', 'Open', 'Promo', 'StateHoliday', 'SchoolHoliday',
       'PromoInterval'],
      dtype='object'))])

In [ ]:
train.dtypes

Store                          int64
DayOfWeek                      int64
Date                          object
Sales                          int64
Customers                      int64
Open                           int64
Promo                          int64
StateHoliday                   int64
SchoolHoliday                  int64
StoreType                      int64
Assortment                     int64
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
dtype: object